*{
    padding:0;
    margin:0;
    list-style: none;
    box-sizing: border-box;
}

header{
    width:100%;
    height:60px;
    background: #141414;
    position:fixed;
    top:0;
    left:0;
    z-index: 999;
}
.head{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:100%;
    text-align: center;
    line-height: 60px;
}
.b{
    width:100%;
    height:205px;
    padding:40px 0;

}
.b h2{
    text-align: center;
}
.b p{
    text-align: center;
}
.tital{
    font-size: 20px;
    color: #fff;
}
.nav{
    font-size: 16px;
    display: block;
}
.nav a{
    color: #fff;
}
.head .nav a.text{
    display: none;
}
.banner{
    width:100%;
    height:649px;
    background:url("../img/b3.jpg") no-repeat center/cover;
    background-attachment:fixed ;
    margin-top: 60px;
    padding-top: 60px;
}
.banner .box{
    height:369px ;
    background: rgba(122,135,136,0.2);
    margin-top: 70px;
    padding:30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box p{
    color:#fff;
    text-align: center;
    line-height: 30px;
}
.box h2{
    color: #fff;
    border-bottom: 7px double #ccc;
    border-top:7px double #ccc;
    text-align: center;
    line-height: 60px;
}
.texts p{
    text-align: center;
}
.box a{
    display: block;
    margin:0 auto;
    width:260px;
    height:45px;
    border:1px solid #fff;
    background: rgba(0,0,0,0.1);
    color: #fff;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
}
.box a:hover{
    background: #8AB839;
}
.row .box2{
    background:#8AB839;

}
.pic{
    text-align: center;
    margin-top:13px;
}

.pic i{
    font-size: 40px;
    border-radius: 50%;
    border:1px solid #fff;
    width:80px;
    color: #fff;
    line-height: 80px;

}
.pic img{
    width:80px;
    height: 80px;

}.texts h2{
    margin-top: 0;
    text-align: center;
}
.list h2{
    text-align: center;
    line-height:50px;
}
.LIST{
    width:100%;
    background: #8AB839;
    padding:60px 0;
}
.glyphicon-cog{
    font-size: 30px;
}
.box2{
    margin-bottom: 20px;
}
.list2{
    margin-bottom: 40px;
    overflow: hidden;


}
.cx{
    width:100%;
    height:100%;
    background: rgba(250,250,250,0.5);
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    display: none;
}
.list2 a{
    text-decoration: none;
}
.list2 h3{
    width:360px;
    height:46px;

    background: #ccc;

    margin:0 auto;
    line-height: 46px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.img1 img{
    width:360px;
    height:228px;
}
.img1{
    width:360px;
    height:228px;
    margin:0 auto;
    position: relative;
}
.list3 input{
    width:100%;
    height:46px;
    background:#D3D4D9;
    outline: none;
    border:1px solid #ccc;
    margin-bottom: 30px;
    padding-left: 10px;
    border-radius: 5px;
}
.list3 textarea{
    width:100%;
    height:66px;
    background:#D3D4D9;
    outline: none;
    border-radius: 5px;
    margin-bottom: 30px;
}
.list3 button{
    width:118px;
    height:46px;
    background:#8AB839;
    border:none;
    border-radius: 5px;
    color: #fff;
    outline: none;
}
.list3 button:hover{
    background:#ccc;
    border:1px solid #8AB839;
}
.tital2{
    font-size:28px ;
    font-weight: bold;
    text-align: center;
    line-height:60px;
}
.list3 h3{
    margin-top: 0;
}
.list3 i{
    color: #8AB839;
    margin-right: 10px;
}
.list3:nth-child(2){
    float: right;
}
.list4 p{
    text-align: center;
    line-height: 30px;
    color:#fff;
    font-size: 18px;
}
.list4 button{
    width:150px;
    height:46px;
    background:#8AB839;
    border:none;
    border-radius: 5px;
    color: #fff;
    outline: none;
    margin:0 auto;
    display: block;
}
.list4 button:hover{
    background:#ccc;
    border:1px solid #8AB839;
}
.LIST4{
    background:url("../img/list8.jpg") no-repeat center/cover;
    height:auto;
    margin-top: 70px;
    position: relative;
}
.LIST4 .bbt{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5) ;
    position: absolute;
    top:0;
    left:0;
}
.LIST4 .row{
    padding:80px 0;

}
.end{
    text-align: center;
    line-height: 30px;

}
@media screen and (min-width:768px){
    .head .nav a.text{
        display:inline;
    }
    .head .nav a.list{
        display:none;
    }
}
@media screen and(min-width:992px){

}